body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #444;

    margin: 0 auto;
    max-width: 1000px;
}

h1, h2, h3 {
    color: #333;
}

.line-anchor {
    position: absolute;
    margin-top: -2px;
    margin-left: -20px;
    color: #ccc;
    text-decoration: none;
}

.line-anchor:hover {
    color: #44d;
}

pre {
    margin: 0;
}

.opcodes {
    margin-bottom: 1rem;
}
