body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #444;

  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em 1em;
}

h1,
h2,
h3 {
  color: #333;
}

h2 {
  margin-bottom: 0;
}

.line-anchor {
  position: absolute;
  margin-top: -2px;
  margin-left: -20px;
  color: #ccc;
  text-decoration: none;
}

.line-anchor:hover {
  color: #44d;
}

pre {
  margin: 0;
}

.hidden {
  display: none;
}

.opcodes:not(.hidden) + .highlight {
  margin-top: 1rem;
}

.indented {
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.gray {
  color: #aaa;
}

.trace {
  display: flex;
  flex-direction: row;
}

.trace .code,
.trace .ir {
  flex-basis: 0;
  flex-grow: 1;
  max-height: 700px;
}

.trace .code {
  margin-right: 10px;
}
.trace .ir {
  margin-left: 10px;
  max-width: 700px;
  overflow: scroll;
}

/* Simple color palette for different code/ir lines */

.highlight {
  background: transparent;
}

.bg1 {
  background-color: #eaecff;
}

.bg2 {
  background-color: #ffeaea;
}

.bg3 {
  background-color: #fcfed4;
}

.bg4 {
  background-color: #eaffec;
}
